@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Poppins&display=swap');

.employee {

    height: 180px;
}

.employee-tile {
    background-color: rgb(235, 84, 112);
    width: 340px;


    &__name {
        display: flex;
        justify-content: center;
        font-family: "Hedvig Letters Serif";
        font-size: 40px;
        text-align: center;

    }

    &__role {
        display: flex;
        justify-content: center;
        font-family: "Hedvig Letters Serif";
        font-size: 30px;
        text-align: center;
    }
}

